<!-- Acerca de mi -->
<div
  class="h-136 w-full bg-cover bg-center bg-no-repeat"
  style="
    background-image: url('https://cdn.pixabay.com/photo/2022/04/19/03/33/marriage-7141823_960_720.jpg');
  "
>
  <div class="w-full h-128 flex justify-center items-center">
    <div class="text-5xl lg:text-7xl text-white" data-aos="fade-down">
      <p>{{ "nosotros" | translate }}</p>
    </div>
  </div>
</div>

<!--  Mision -->
<div class="w-full h-128 bg-slate-800 text-white flex items-center">
  <div
    class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
    data-aos="fade-right"
  >
    <div class="col-span1">
      <div class="font-semibold">
        <p class="text-center pb-4 text-2xl lg:text-4xl">Misión</p>
      </div>
    </div>
    <div class="col-span-2">
      <div class="flex justify-center items-center">
        <p class="text-justify text-xl lg:text-4xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quia vel
          illo eum et expedita deserunt nobis odio quod doloribus, sit
          doloremque. Ut sequi aliquam asperiores hic obcaecati esse facilis.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Vision -->
<div class="w-full h-128 bg-white text-blue-800 flex items-center">
  <div
    class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
    data-aos="fade-left"
  >
    <div class="col-span1">
      <div class="font-semibold">
        <p class="text-center pb-4 text-2xl lg:text-4xl">Visión</p>
      </div>
    </div>
    <div class="col-span-2">
      <div class="flex justify-center items-center">
        <p class="text-justify text-xl lg:text-4xl">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas quia vel
          illo eum et expedita deserunt nobis odio quod doloribus, sit
          doloremque. Ut sequi aliquam asperiores hic obcaecati esse facilis.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- OurValues -->

<div class="w-full h-128 bg-black text-white flex items-center">
  <div
    class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
    data-aos="fade-right"
  >
    <div class="col-span1">
      <div class="font-semibold">
        <p class="text-center pb-4 text-2xl lg:text-4xl">Otro</p>
      </div>
    </div>
    <div class="col-span-2">
      <div class="flex justify-center items-center">
        <p class="text-justify text-xl lg:text-4xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab omnis
          temporibus cumque est neque culpa voluptatum ipsum qui, id ex commodi
          sapiente dolor a animi molestias ea iusto possimus autem.
        </p>
      </div>
    </div>
  </div>
</div>
