<div *ngIf="data !== undefined && data !== null">
  <!-- Acerca de mi -->
  <div class="grid lg:grid-cols-3">
    <div
      *ngIf="dataImg !== undefined && dataImg !== null"
      class="h-96 md:h-136 w-full bg-cover bg-center bg-no-repeat flex items-center"
      style="
      background-image: url('{{ dataImg!.historyImg!.background }}');
      "
    >
      <p
        class="text-center text-5xl lg:text-7xl text-white"
        data-aos="fade-down"
      >
        {{ data!.history!.question }}
      </p>
    </div>
    <div
      class="h-96 md:h-136 w-full text-white flex items-center"
      style="
        background: rgb(130, 247, 229);
        background: linear-gradient(
          0deg,
          rgba(130, 247, 229, 1) 0%,
          rgba(0, 130, 104, 1) 77%
        );
      "
    >
      <div class="mx-6" data-aos="fade-up">
        <p class="text-center text-2xl pb-4 font-bold">
          {{ data!.history!.introduction }}
        </p>
        <p class="text-xl font-semibold">{{ data!.history!.brief }}</p>
      </div>
    </div>
    <div
      class="h-96 md:h-136 w-full bg-cover bg-center bg-no-repeat flex justify-center items-center"
      style="
        background: rgb(130, 247, 229);
        background: linear-gradient(
          0deg,
          rgba(130, 247, 229, 1) 0%,
          rgba(0, 130, 104, 1) 77%
        );
      "
    >
      <div>
        <img
          *ngIf="dataImg !== undefined && dataImg !== null"
          class="h-36 mb-12 object-cover"
          src="{{ dataImg!.historyImg!.logo }}"
          alt=""
        />
        <button
          data-aos="fade-down"
          class="bg-white text-2xl py-1 px-2 rounded-md hover:bg-black hover:text-white"
        >
          {{ data!.history!.button }}
        </button>
      </div>
    </div>
  </div>

  <!--  Mision -->
  <div class="w-full h-128 bg-white text-indigo-800 flex items-center">
    <div
      class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
      data-aos="fade-right"
    >
      <div class="col-span1">
        <div class="font-semibold">
          <p class="text-center pb-4 text-2xl lg:text-4xl">
            {{ data!.mission!.title }}
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex justify-center items-center">
          <p class="text-justify text-xl lg:text-4xl">
            {{ data!.mission!.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Vision -->
  <div
    *ngIf="dataImg !== undefined && dataImg !== null"
    class="h-136 w-full bg-cover bg-center bg-no-repeat flex items-center text-white"
    style="
    background-image: url('{{ dataImg!.vissionImg }}');
    "
  >
    <div
      class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
      data-aos="fade-down"
    >
      <div class="col-span1">
        <div class="font-semibold">
          <p class="text-center pb-4 text-2xl lg:text-4xl">
            {{ data!.vission!.title }}
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex justify-center items-center">
          <p class="text-justify text-xl lg:text-4xl">
            {{ data!.vission!.description }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- OurValues -->

  <div class="w-full h-128 bg-black text-white flex items-center">
    <div
      class="lg:grid lg:grid-cols-3 mx-8 lg:mx-20 2xl:mx-32"
      data-aos="fade-right"
    >
      <div class="col-span1">
        <div class="font-semibold">
          <p class="text-center pb-4 text-2xl lg:text-4xl">
            {{ data!.value!.title }}
          </p>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex justify-center items-center">
          <p class="text-justify text-xl lg:text-4xl">
            {{ data!.value!.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--  Values img-->
  <div
    class="grid sm:grid-cols-2 lg:grid-cols-4 text-xl text-white"
    *ngIf="dataImg !== undefined && dataImg !== null"
  >
    <div
      class="h-80 w-full bg-cover bg-center bg-no-repeat flex justify-center items-end"
      style="
    background-image: url('{{ dataImg!.valueImg[0] }}');

    "
      data-aos="fade-down"
    >
      <p class="pb-5">{{ data!.value!.values[0] }}</p>
    </div>
    <div
      class="h-80 w-full bg-cover bg-center bg-no-repeat flex justify-center items-end"
      style="
    background-image: url('{{ dataImg!.valueImg[1] }}');

    "
      data-aos="fade-down"
      data-aos-delay="100"
    >
      <p class="pb-5">{{ data!.value!.values[1] }}</p>
    </div>
    <div
      class="h-80 w-full bg-cover bg-center bg-no-repeat flex justify-center items-end"
      style="
    background-image: url('{{ dataImg!.valueImg[2] }}');

    "
      data-aos="fade-down"
      data-aos-delay="200"
    >
      <p class="pb-5">{{ data!.value!.values[2] }}</p>
    </div>
    <div
      class="h-80 w-full bg-cover bg-center bg-no-repeat flex justify-center items-end"
      style="
      background-image: url('{{ dataImg!.valueImg[3] }}');

      "
      data-aos="fade-down"
      data-aos-delay="300"
    >
      <p class="pb-5">{{ data!.value!.values[3] }}</p>
    </div>
  </div>
</div>
