<div class="bg-gradient-to-r w-full absolute top-0 z-50">
  <div class="max-w-screen-2xl mx-auto">
    <!-- Menu -->
    <div class="flex">
      <div
        class="flex items-center text-white uppercase font-semibold text-lg ml-3 md:ml-7 py-2"
      >
        <img src="{{ images?.logo }}" alt="" class="h-20" />
        <p class="ml-1">Dive Evolution</p>
        <!-- Botton celular -->
        <button
          class="lg:hidden right-10 absolute border-2 bg-blue-500 py-2 px-4 rounded hover:bg-blue-400"
          (click)="abrir()"
        >
          <i class="{{ icono[indice] }}"></i>
        </button>
        <!-- Botton Lenguajes -->

        <div class="hidden lg:grid gap-1 grid-cols-3 absolute right-1">
          <button
            *ngFor="let flag of flags; let pos = index"
            ngClass="{{ selectedFlag === pos ? 'border-white' : '' }}"
            class="hover:bg-blue-400 grid rounded-lg px-1 border border-blue-400"
          >
            <img
              class="h-8 cursor-pointer"
              [src]="flag"
              (click)="selectFlag(pos)"
            />
          </button>
        </div>

        <!-- <button
          (click)="abrirFlags()"
          class="hidden lg:block right-24 absolute px-1 border-2 border-blue-400 rounded hover:bg-blue-400"
        >
          <img class="h-8" [src]="flags[selectedFlag]" />
        </button> -->

        <!-- <div
          *ngIf="abiertoFlags"
          class="right-12 top-7 absolute border-2 border-blue-400 rounded bg-black hidden lg:block"
        >
          <button
            *ngFor="let flag of flags; let pos = index"
            class="hover:bg-blue-400 grid px-1"
          >
            <img
              class="h-8 cursor-pointer"
              [src]="flag"
              (click)="selectFlag(pos)"
            />
          </button>
        </div> -->

        <div
          class="py-3 text-center font-semibold text-base hover:text-white rounded-md flex justify-around"
        ></div>
      </div>
      <div
        class="flex gap-6 ml-24 text-white hidden lg:block lg:flex lg:items-center"
      >
        <a
          class="hover:text-blue-200 font-semibold cursor-pointer uppercase"
          [routerLink]="rutas[0]"
          >{{ "inicio" | translate }}</a
        >
        <a
          class="hover:text-blue-200 font-semibold cursor-pointer uppercase"
          [routerLink]="rutas[1]"
          >{{ "nosotros" | translate }}</a
        >
        <button
          (click)="abrirTours()"
          class="hover:text-blue-200 font-semibold cursor-pointer uppercase"
        >
          {{ "tours" | translate }}

          <span class="rounded-lg">
            <i class="{{ iconoTour[indiceTour] }}"></i>
            <div *ngIf="abiertoTours" class="absolute mt-1 rounded-lg bg-black">
              <a
                class="px-3 py-3 text-white text-sm hover:bg-neutral-900 hover:rounded-lg grid"
                [routerLink]="rutas[2]"
              >
                {{ "San Cristobal" }}
              </a>
              <a
                class="px-3 py-3 text-white text-sm hover:bg-neutral-900 hover:rounded-lg grid"
              >
                {{ "Santa Cruz" }}
              </a>
              <a
                class="px-3 py-3 text-white text-sm hover:bg-neutral-900 hover:rounded-lg grid"
              >
                {{ "Isabela" }}
              </a>
            </div>
          </span>
        </button>
        <a
          class="hover:text-blue-200 font-semibold cursor-pointer uppercase"
          [routerLink]="rutas[3]"
          >{{ "cursos_de_buceo" | translate }}</a
        >
        <a
          class="hover:text-blue-200 font-semibold cursor-pointer uppercase"
          [routerLink]="rutas[4]"
          >{{ "contacto" | translate }}</a
        >
      </div>
    </div>

    <!-- Menu responsivo -->
    <div
      class="grid bg-white lg:hidden border-t border-b border-blue-400 z-50"
      *ngIf="indice == 1"
      data-aos="fade-down"
    >
      <a
        [routerLink]="rutas[0]"
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md cursor-pointer"
        >{{ "inicio" | translate }}</a
      >
      <a
        [routerLink]="rutas[1]"
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md cursor-pointer"
        >{{ "nosotros" | translate }}</a
      >
      <button
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md cursor-pointer"
        (click)="abrirTours()"
      >
        {{ "tours" | translate }} <i class="{{ iconoTour[indiceTour] }}"></i>
      </button>
      <div class="grid bg-black text-white" *ngIf="abiertoTours">
        <a
          class="py-3 text-center font-semibold text-base hover:text-white hover:bg-neutral-900 cursor-pointer"
          [routerLink]="rutas[2]"
          >{{ "San Cristobal" }}</a
        >
        <a
          class="py-3 text-center font-semibold text-base hover:text-white hover:bg-neutral-900 cursor-pointer"
          href=""
          >{{ "Santa Cruz" }}</a
        >
        <a
          class="py-3 text-center font-semibold text-base hover:text-white hover:bg-neutral-900 cursor-pointer"
          href=""
          >{{ "Isabela" }}</a
        >
      </div>
      <a
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md cursor-pointer"
        [routerLink]="rutas[3]"
        >{{ "cursos_de_buceo" | translate }}</a
      >
      <a
        class="py-3 text-center font-semibold text-base hover:text-white hover:bg-blue-400 rounded-md cursor-pointer"
        [routerLink]="rutas[4]"
        >{{ "contacto" | translate }}</a
      >
      <div
        class="py-3 text-center font-semibold text-base hover:text-white rounded-md flex justify-around"
      >
        <button
          *ngFor="let flag of flags; let pos = index"
          class="hover:bg-blue-400 grid rounded-lg px-2 py-1 border border-blue-400"
          ngClass="{{ selectedFlag === pos ? 'border-white' : '' }}"
        >
          <img
            class="h-8 cursor-pointer"
            [src]="flag"
            (click)="selectFlag(pos)"
          />
        </button>
      </div>
    </div>
  </div>
</div>
