<div
  class="w-full h-180 md:h-156 bg-cover bg-center bg-no-repeat"
  style="
   background-image: url('{{ contactoImg!.background }}');
 "
>
  <div class="pt-20 md:pt-0 mx-4 md:mx-0">
    <div
      class="max-w-4xl mx-auto text-5xl lg:text-7xl text-white pt-6 px-6 pb-6 md:pb-6"
      data-aos="fade-down"
    >
      <p class="text-center md:text-right md:translate-y-36">
        {{ datosContacto!.title }}
      </p>
    </div>
    <div class="max-w-4xl mx-auto">
      <div class="grid md:grid-cols-2 h-120">
        <div class="">
          <div
            class="w-full flex justify-center items-center h-96 md:h-140 md:-translate-y-20"
            data-aos="fade-up"
          >
            <img
              class="h-80 md:h-96 w-auto"
              src="{{ contactoImg!.foreground }}"
              alt=""
            />
          </div>
          <div class="flex md:-translate-y-28 mx-6 mb-8">
            <a
              class="bg-white text-black hover:bg-black hover:text-white hover:bg-opacity-50 text-lg font-semibold py-5 w-full text-center uppercase rounded-xl"
              target="_blank"
              href="https://api.whatsapp.com/send/?phone={{ phone }}"
            >
              {{ datosContacto!.button }}
            </a>
          </div>
        </div>
        <div class="md:-translate-y-28 flex items-center" data-aos="fade-down">
          <div
            class="grid gap-10 text-white text-lg pl-10 pr-6 bg-black bg-opacity-50 py-14"
          >
            <p class="text-center text-xl">
              {{ datosContacto!.introduction }}
            </p>
            <p>
              <i class="fa-solid fa-location-dot pr-4"></i
              >{{ datosContacto!.contactInfo!.address }}
            </p>
            <p>
              <i class="fa-solid fa-envelope pr-4"></i
              >{{ datosContacto!.contactInfo!.email }}
            </p>
            <p>
              <i class="fa-solid fa-mobile pr-4"></i>
              {{ datosContacto!.contactInfo!.phone }}
            </p>
            <div class="flex justify-around items-end">
              <a
                *ngIf="socialMedia?.facebook"
                class="hover:scale-105 z-20 bg-white rounded-full px-1 py-1 fa-xl facebook"
                href="{{ socialMedia?.facebook }}"
                target="_blank"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a
                *ngIf="socialMedia?.instagram"
                class="hover:scale-105 z-20 bg-white rounded-full px-1 py-1 fa-xl instagram"
                href="{{ socialMedia?.instagram }}"
                target="_blank"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a
                *ngIf="socialMedia?.twitter"
                class="hover:scale-105 z-20 bg-white rounded-full px-1 fa-xl py-1 twitter"
                href="{{ socialMedia?.twitter }}"
                target="_blank"
              >
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="bg-cover bg-center bg-no-repeat w-full"
  style="
   background-image: url('{{ contactoImg!.form }}');
 "
>
  <div class="max-w-4xl mx-auto py-20">
    <form action="" [formGroup]="contactoForm">
      <div class="grid ml-4 mr-4 text-white" data-aos="fade-up">
        <p class="text-2xl pb-3 font-semibold">
          {{ datosContacto!.formtitle }}
        </p>

        <div class="grid mb-8">
          <!-- <label class="font-medium text-lg" for="">{{
            "Nombre" | translate
          }}</label> -->
          <input
            class="text-black border border-gray-300 rounded-md p-2"
            type="nombre"
            formControlName="nombre"
            placeholder="{{ 'Nombre' | translate }}"
          />
          <div
            *ngIf="validarCampo('nombre')"
            class="text-right text-base font-light"
          >
            <span class="">{{ "Ingrese un nombre" | translate }}</span>
          </div>
        </div>
        <div class="grid mb-8">
          <!-- <label class="font-medium text-lg" for="">{{
            "Correo electrónico" | translate
          }}</label> -->
          <input
            class="text-black border border-gray-300 rounded-md p-2"
            type="email"
            formControlName="email"
            placeholder="{{ 'Correo electrónico' | translate }}"
          />
          <div
            *ngIf="validarCampo('email')"
            class="text-right text-base font-light"
          >
            <span class="">{{
              "Ingrese un correo electrónico válido" | translate
            }}</span>
          </div>
        </div>
        <div class="grid mb-8">
          <!-- <label class="font-medium text-lg" for="">{{
            "Número teléfono" | translate
          }}</label> -->
          <input
            class="text-black border border-gray-300 rounded-md p-2"
            type="number"
            formControlName="telefono"
            placeholder="{{ 'Número teléfono' | translate }}"
          />
          <span
            *ngIf="validarCampo('telefono')"
            class="text-right text-base font-light"
            >{{ "Ingrese un número de teléfono válido" | translate }}</span
          >
        </div>
        <div class="grid mb-8">
          <!--  <label class="font-medium text-lg" for="">{{
            "Asunto" | translate
          }}</label> -->
          <textarea
            class="text-black p-2 text-base border border-gray-300 rounded-md"
            for=""
            rows="5"
            formControlName="asunto"
            placeholder="{{ 'Asunto' | translate }}"
          ></textarea>
          <span
            *ngIf="validarCampo('asunto')"
            class="text-right text-base font-light"
            >{{ "Es necesario ingresar el asunto" | translate }}</span
          >
        </div>
        <div class="flex md:justify-end pb-3 md:pb-0">
          <button
            class="bg-white w-full md:w-auto text-black hover:bg-black hover:text-white hover:bg-opacity-50 text-lg font-semibold rounded-lg py-2 px-4 text-center"
          >
            {{ "Enviar" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
  <p class="text-center text-3xl lg:text-4xl text-white pb-3">
    {{ "Encuentranos en:" | translate }}
  </p>
  <div class="flex justify-center pb-9 mx-2 text-white" data-aos="fade-down">
    <iframe
      width="800"
      height="600"
      style="border: 0"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCRgYXprHI6ZYg9t4MsEsXH4liJphpD_ZI
    &q=-0.9015997,-89.6108186"
    >
    </iframe>
  </div>
</div>
