<!-- todo Img -->
<div
  class="h-136 w-full bg-cover bg-center bg-no-repeat flex justify-center items-center"
  style="
    background-image: url('https://cdn.pixabay.com/photo/2021/08/25/05/01/boat-6572384_960_720.jpg');
  "
>
  <div class="text-5xl lg:text-7xl text-white" data-aos="fade-down">
    <p class="text-center">
      {{ "Tours a San Cristobal" | translate }}
    </p>
  </div>
</div>
<div class="w-full bg-gray-100">
  <!-- todo Botones -->
  <div class="max-w-5xl w-full mx-auto">
    <div class="grid lg:grid-flow-col gap-3 mx-4 py-4">
      <button
        class="btn-tours"
        class="{{ selectedButton === 0 ? 'btn-tours-selected' : 'btn-tours' }}"
        (click)="cambiarButton(0)"
      >
        {{ "Tours de esnórquel" | translate }}
      </button>
      <button
        class="btn-tours"
        class="{{ selectedButton === 1 ? 'btn-tours-selected' : 'btn-tours' }}"
        (click)="cambiarButton(1)"
      >
        {{ "Tours de buceo" | translate }}
      </button>
      <button
        class="btn-tours"
        class="{{ selectedButton === 2 ? 'btn-tours-selected' : 'btn-tours' }}"
        (click)="cambiarButton(2)"
      >
        {{ "Tours de tierra" | translate }}
      </button>
    </div>
  </div>
  <!-- todo Tours -->
  <div class="grid max-w-5xl mx-auto">
    <div
      *ngFor="let item of temp; let i = index"
      class="grid mb-7"
      data-aos="fade-down"
    >
      <div
        class="md:grid md:grid-cols-3 mx-auto border shadow-2xl shadow-blue-200"
      >
        <div class="m-4 md:m-0">
          <img
            src="https://cdn.pixabay.com/photo/2015/10/12/15/41/kayak-984566_960_720.jpg"
            alt=""
            class="w-full h-full object-cover rounded"
          />
        </div>
        <div class="md:col-span-2">
          <p class="text-center t">Lorem</p>
          <p class="text-center">{{ "¿Que incluye?" | translate }}</p>
          <ol class="text-center">
            <li>sadsad sadsadsa sadsa dasd sadasd</li>
            <li>sadsad sadsadsa sadsa dasd sadasd</li>
            <li>sadsad sadsadsa sadsa dasd sadasd</li>
            <li>sadsad sadsadsa sadsa dasd sadasd</li>
            <li>sadsad sadsadsa sadsa dasd sadasd</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
