<div class="max-w-screen-xl mx-auto">
  <a
    class=""
    href="https://api.whatsapp.com/send/?phone={{ phone }}"
    target="_blank"
    ><i
      class="z-50 whatsappColor rounded-full p-2 fa-brands fa-whatsapp fa-3x fixed bottom-3 right-2 hover:animate-pulse"
    ></i
  ></a>
</div>
<div class="bg-gradient-to-r from-sky-300 via-blue-400 to-sky-300 w-full">
  <div class="max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div
        class="py-4 flex justify-center items-center text-white uppercase font-semibold text-base"
      >
        <img
          *ngIf="imgData !== undefined && imgData !== null"
          src="{{ imgData!.logo }}"
          alt=""
          class="h-20 pr-5"
        />
        <div class="grid">
          <!-- <p class="ml-1">Dive Evolution</p> -->
          <a
            class="hover:text-blue-200 cursor-pointer"
            [routerLink]="rutas[0]"
            >{{ "inicio" | translate }}</a
          >
          <a
            class="hover:text-blue-200 cursor-pointer"
            [routerLink]="rutas[1]"
            >{{ "nosotros" | translate }}</a
          >
          <a class="hover:text-blue-200 cursor-pointer" [routerLink]="">{{
            "tours" | translate
          }}</a>
          <a class="hover:text-blue-200 cursor-pointer" [routerLink]="">{{
            "cursos_de_buceo" | translate
          }}</a>
          <a class="hover:text-blue-200 cursor-pointer" [routerLink]="">{{
            "contacto" | translate
          }}</a>
        </div>
      </div>
      <div class="md:pt-3">
        <div class="grid">
          <div class="flex justify-center">
            <p class="text-white font-semibold text-base text-center">
              {{ "Encuentranos en nuestras redes" | translate }}
            </p>
          </div>
          <div class="flex justify-around pt-3 md:pt-1">
            <!--  <a
              *ngFor="let item of footer"
              class="z-50 bg-white rounded-full px-4 py-4"
              href=""
              target="_blank"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              ><i class="fa-lg absolute -translate-x-2 text-indigo-800"></i
            ></a> -->
            <a
              *ngIf="socialMedia?.facebook"
              class="z-50 bg-white rounded-full px-1 py-1 fa-xl text-sky-800"
              href="{{ socialMedia?.facebook }}"
              target="_blank"
            >
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a
              *ngIf="socialMedia?.instagram"
              class="z-50 bg-white rounded-full px-1 py-1 fa-xl text-sky-800"
              href="{{ socialMedia?.instagram }}"
              target="_blank"
            >
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a
              *ngIf="socialMedia?.twitter"
              class="z-50 bg-white rounded-full px-1 py-1 fa-xl text-sky-800"
              href="{{ socialMedia?.twitter }}"
              target="_blank"
            >
              <i class="fa-brands fa-twitter"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex justify-center text-white text-base pt-4 pb-3 border-t mt-4 md:mt-0 mx-4 text-center"
    >
      <p>
        {{ "Copyright © 2022 Dive Evolution. Desarrollado por" | translate }}

        <a
          class="font-bold"
          href="https://www.logicielapplab.com/"
          target="_blank"
          >Logiciel Applab</a
        >
      </p>
    </div>
  </div>
</div>
