<div class="">
  <a
    class=""
    href="https://api.whatsapp.com/send/?phone={{ phone }}"
    target="_blank"
    ><i
      class="z-50 whatsappColor rounded-full p-2 fa-brands fa-whatsapp fa-3x fixed bottom-3 right-2 animate-bounce"
    ></i
  ></a>
</div>
<!-- bg-gradient-to-r from-sky-300 via-blue-400 to-sky-300 w-full -->
<div class="relative bg-[#00061A]">
  <div class="">
    <div class="grid grid-cols-1 md:grid-cols-3">
      <div
        class="absolute z-50 mx-auto left-0 right-0 md:left-0 md:relative py-4 flex justify-center items-center text-white uppercase font-semibold text-base"
      >
        <img
          *ngIf="imgData !== undefined && imgData !== null"
          src="{{ imgData!.logo }}"
          alt=""
          class="h-20 pr-5"
        />
        <div class="grid">
          <!-- <p class="ml-1">Dive Evolution</p> -->
          <a
            class="hover:scale-105 cursor-pointer flex justify-between items-center"
            [routerLink]="rutas[0]"
            routerLinkActive
            #rla="routerLinkActive"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <p>
              {{ "inicio" | translate }}
            </p>
            <img *ngIf="rla.isActive" src="{{ dive }}" class="w-9" alt="" />
          </a>
          <a
            class="hover:scale-105 cursor-pointer flex justify-between items-center"
            [routerLink]="rutas[1]"
            routerLinkActive
            #rla1="routerLinkActive"
          >
            <p>
              {{ "nosotros" | translate }}
            </p>
            <img *ngIf="rla1.isActive" src="{{ dive }}" class="w-9" alt=""
          /></a>
          <a
            class="hover:scale-105 cursor-pointer flex justify-between items-center"
            [routerLink]="rutas[2]"
            routerLinkActive
            #rla2="routerLinkActive"
          >
            <p>
              {{ "tours" | translate }}
            </p>
            <img *ngIf="rla2.isActive" src="{{ dive }}" class="w-9" alt=""
          /></a>
          <!-- <a
            class="hover:scale-105 cursor-pointer flex justify-between items-center"
            [routerLink]="rutas[3]"
            routerLinkActive
            #rla3="routerLinkActive"
          >
            <p>
              {{ "cursos de buceo" | translate }}
            </p>
            <img *ngIf="rla3.isActive" src="{{ dive }}" class="w-9" alt=""
          /></a> -->
          <a
            class="hover:scale-105 cursor-pointer flex justify-between items-center"
            [routerLink]="rutas[4]"
            routerLinkActive
            #rla4="routerLinkActive"
          >
            <p>
              {{ "contacto" | translate }}
            </p>
            <img *ngIf="rla4.isActive" src="{{ dive }}" class="w-9" alt=""
          /></a>
        </div>
      </div>
      <div
        class="absolute z-50 mx-auto left-0 right-0 md:left-0 translate-y-48 md:translate-y-0 md:relative md:pt-3 flex justify-center items-center"
      >
        <div class="">
          <div class="">
            <p class="text-white font-semibold text-lg uppercase text-center">
              {{ "Encuentranos en nuestras redes" | translate }}
            </p>
            <div class="flex justify-around pt-3 md:pt-6">
              <!--  <a
              *ngFor="let item of footer"
              class="z-50 bg-white rounded-full px-4 py-4"
              href=""
              target="_blank"
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title=""
              ><i class="fa-lg absolute -translate-x-2 text-indigo-800"></i
            ></a> -->
              <a
                *ngIf="socialMedia?.facebook"
                class="z-50 hover:scale-105 bg-white rounded-full px-1 py-1 fa-xl facebook"
                href="{{ socialMedia?.facebook }}"
                target="_blank"
              >
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a
                *ngIf="socialMedia?.instagram"
                class="z-50 hover:scale-105 bg-white rounded-full px-1 py-1 fa-xl instagram"
                href="{{ socialMedia?.instagram }}"
                target="_blank"
              >
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a
                *ngIf="socialMedia?.twitter"
                class="z-50 hover:scale-105 bg-white rounded-full px-1 fa-xl py-1 twitter"
                href="{{ socialMedia?.twitter }}"
                target="_blank"
              >
                <i class="fa-brands fa-twitter"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="h-96 w-full bg-cover bg-center bg-no-repeat flex justify-center items-center"
        style="
          background-image: url('https://res.cloudinary.com/logicielapplab/image/upload/v1654662701/DiveEvolution/Hero/footer_ozw9ir.png');
          opacity: 0.05;
        "
      ></div>
    </div>
    <div
      class="flex justify-center text-white text-base pt-4 pb-3 border-t mx-4 text-center"
    >
      <p>
        {{ "Copyright © 2022 Dive Evolution. Desarrollado por" | translate }}

        <a
          class="font-bold"
          href="https://www.logicielapplab.com/"
          target="_blank"
          >Logiciel Applab</a
        >
      </p>
    </div>
  </div>
</div>
